<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPWrites</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>

<div th:replace="header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1>Greetings!</h1>
        <p>
            My name is Shiveen and I like to keep this page as a sort of personal blog (read general rambling),
            experiments and little things I like to talk about.

            Please head to
            <link>
            <a href="about-me">About Me</a></link> to know more about myself and the work I do.
        </p>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>